/** basket styles*/
.cartPage {
  display: flexbox;

  margin-top: 5rem;
  width: 100%;
  align-items: center;
}

caption {
  display: table-caption;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}
table,
th,
td {
  border: 1px solid;
  vertical-align: inherit;
}

table {
  width: 100%;
  max-width: 70rem;
  height: 20rem;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
  background-color: #d2adff;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
  font-weight: bold;
}

th {
  position: sticky;
  top: 0;
  background: #fff;
  vertical-align: bottom;
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

.bold {
  font-weight: bold;
  vertical-align: initial;

  width: 10%;
  color: rgb(77, 11, 90);
}
.start {
  display: table-row;
  outline: 1px outset rgb(15, 15, 16);
  border-top: 3px solid black;
  font-weight: bolder;
  vertical-align: inherit;
}

.price {
  align-self: flex-end;
  font-weight: 1000;
  font-size: 1.5rem;
  height: 3rem;
}
#cartButton {
  align-self: center;
  width: 10rem;
}
